@use '@/styles/variables' as vars;

.about {
  padding: 4rem 0;

  .title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: vars.$color-brand-d;
  }

  .description {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .subtitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: vars.$color-brand-l;
  }

  .mission {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .partners,
  .certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      text-align: center;

      img {
        width: 120px;
        height: auto;
        margin-bottom: 0.5rem;
      }
    }
  }
}
