/* ----------------------- */

/* Базовые версии шрифта   */

/* ----------------------- */
@font-face {
  font-family: MadeType;
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Thin.otf') format('opentype');
}

@font-face {
  font-family: MadeType;
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Light.otf') format('opentype');
}

@font-face {
  font-family: MadeType;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Regular.otf') format('opentype');
}

@font-face {
  font-family: MadeType;
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Medium.otf') format('opentype');
}

@font-face {
  font-family: MadeType;
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Bold.otf') format('opentype');
}

/* ----------------------- */

/* EVO версии шрифта       */

/* ----------------------- */
@font-face {
  font-family: 'MadeType EVO';
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Thin EVO.otf') format('opentype');
}

@font-face {
  font-family: 'MadeType EVO';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Light EVO.otf') format('opentype');
}

@font-face {
  font-family: 'MadeType EVO';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Regular EVO.otf')
    format('opentype');
}

@font-face {
  font-family: 'MadeType EVO';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Medium EVO.otf') format('opentype');
}

@font-face {
  font-family: 'MadeType EVO';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/MADE Evolve Sans Bold EVO.otf') format('opentype');
}
