$font-main: 'MadeType', 'Roboto', sans-serif;
$font-main-evo: 'MadeType EVO', 'Roboto', sans-serif;
$text-main: 16px;
$color-dark: #000;
$color-light: #fff;
$color-brand-d: #002878;
$color-brand-l: #0154b2;
$color-shadow-1: #eff0f1;
$color-shadow-2: #c9ced1;
$color-shadow-3: #52545c;
$dsktop-width: 1280px;
$tablet-width: 768px;
$bigmob-width: 640px;
$midmob-width: 480px;
$mobile-width: 380px;
