.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.6s ease-in-out,
    visibility 0s linear 0.6s;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.6s ease-in-out,
    visibility 0s linear 0s;
}
