@use '../../styles/variables' as vars;

.home {
  display: flex;
}

.homePhoto {
  width: 65%;
}

.content {
  display: flex;
  flex-wrap: wrap;

  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: vars.$dsktop-width;
  margin: 0 auto;
}
