@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.home {
  width: 100%;
  padding: 4rem 0;
  background-color: vars.$color-light;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    flex: 1 1 500px;

    .title {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      font-weight: 700;
      color: vars.$color-brand-d;
    }

    .description {
      margin-bottom: 2rem;
      font-size: 1.125rem;
      line-height: 1.6;
      color: vars.$color-dark;
    }

    // .button {
    //   @include mixins.button(vars.$color-brand-l, vars.$color-light);
    // }
  }

  .hero {
    flex: 1 1 400px;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    }
  }
}
