.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;

  //   background: rgba(255, 255, 255, 0.75);
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/images/home/factory-2.png') center / cover
    // background: url('../assets/images/home/factory-5.png') center / cover
      no-repeat;
    // background-image: url('../assets/images/home/factory-1.png');
    filter: blur(2px) brightness(0.7);
    opacity: 0.2;
    z-index: -1;
  }
}
