.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/home/factory-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    filter: blur(2px) brightness(0.7);
    opacity: 0.2;
    z-index: -1;
  }
}
