.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}
