@use '@/styles/variables' as vars;

.header {
  width: 100%;
  padding: 1rem;
  background-color: vars.$color-light;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  .logo {
    display: block;
    width: 100%;
    height: auto;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Links {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: left;
      padding: 1rem;
    }

    &Item {
      display: block;
      width: 100%;

      a {
        display: flex;
        width: 100%;
        font-weight: 500;
        color: vars.$color-brand-l;
        white-space: nowrap;

        @media (hover: hover) {
          &:hover {
            color: vars.$color-brand-d;
          }
        }
      }
    }

    &Btn {
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
