@use '@/styles/variables' as var;
@use '@/styles/mixins' as mix;

.header {
  width: 100%;
  box-shadow: 0 0.2rem 0.6rem rgb(0 0 0 / 8%);
}

.container {
  max-width: var.$dsktop-width;
  margin: 0 auto;
  padding: 2rem;

  @include mix.flex-between;

  @media (max-width: var.$tablet-width) {
    position: relative;
    padding: 1rem;
  }
}

.logo {
  @include mix.flex-center;

  img {
    width: auto;
    height: 6rem;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.list {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  a {
    font-weight: 500;
    color: var.$color-brand-l;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var.$color-brand-d;
    }
  }

  @media (max-width: var.$tablet-width) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    background: #fff;

    &.open {
      display: flex;
    }
  }
}

.active {
  border-bottom: 2px solid var.$color-brand-d;
  color: var.$color-brand-d;
}

.burger {
  cursor: pointer;
  display: none;
  border: none;
  font-size: 2rem;
  background: none;

  @media (max-width: var.$tablet-width) {
    display: block;
  }
}

.button {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: 1px solid var.$color-brand-l;
  border-radius: 4px;
  font-weight: 600;
  color: var.$color-brand-l;
  background: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background-color: var.$color-brand-l;
  }
}
