@use '@/styles/variables' as vars;

.header {
  width: 100%;
  padding: 0.75rem 0;
  background-color: vars.$color-light;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  img {
    width: auto;
    height: 48px;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navList {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    font-weight: 500;
    color: vars.$color-brand-l;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: vars.$color-brand-d;
    }
  }
}

.active {
  border-bottom: 2px solid vars.$color-brand-d;
  color: vars.$color-brand-d;
}

.langBtn {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: 1px solid vars.$color-brand-l;
  border-radius: 4px;
  font-weight: 600;
  color: vars.$color-brand-l;
  background: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background-color: vars.$color-brand-l;
  }
}
