@use '@/styles/variables' as var;
@use '@/styles/mixins' as mix;

.footer {
  position: relative;
  color: var.$color-light;
  background-color: var.$color-brand-d;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20rem;
    height: 20rem;
    background-color: var.$color-brand-l;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);

    @media (max-width: var.$tablet-width) {
      width: 30rem;
      height: 30rem;
    }
  }
}

.container {
  @include mix.flex-between;

  max-width: var.$dsktop-width;
  margin: 0 auto;
  padding: 2rem;

  @media (max-width: var.$bigtab-width) {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

.inner {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: var.$tablet-width) {
    z-index: 10;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  max-width: 22rem;

  @media (max-width: var.$tablet-width) {
    align-items: center;
  }
}

.logo {
  width: 18rem;
  height: auto;
  filter: brightness(0) invert(1);
}

.text {
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: start;
  opacity: 0.9;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-style: normal;
}

.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  color: var.$color-light;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  img {
    width: 1rem;
    height: 1rem;
    opacity: 0.8;
  }

  &:hover {
    color: var.$color-brand-l;

    img {
      opacity: 1;
    }
  }
}

.copy {
  position: absolute;
  right: 20rem;
  bottom: 44%;
  font-size: 0.875rem;
  text-align: center;
  opacity: 0.8;

  @media (max-width: var.$bigtab-width) {
    position: static;
    z-index: 10;
  }
}
